/* Poppins - ExtraLight*/
@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
}

/* Poppins - Regular */
@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

/* Poppins - Black*/
@font-face {
    font-family: 'Poppins';
    src: url('./fonts/Poppins/Poppins-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

/* global styles */

html,
body,
footer {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    color: hsl(0, 0%, 10%);
}

main {
    margin: 0;
}

h1,
h2 {
    color: black;
}

h1 {
    font-size: 96px;
    font-weight: 900;
}

h2 {
    font-size: 64px;
    margin: 0;
}

p {
    font-size: 17pt;
    font-weight: 400;
    margin: 0;
}

a {
    text-decoration: none;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 10px;
    box-sizing: border-box;
    width: 100%;
    background-color: rgba(0, 0, 0, 75%);
    backdrop-filter: blur(15px);
}

.nav-title {
    display: flex;
    align-items: center;
}

.nav-title img {
    max-height: 64px;
    max-width: 64px;
    display: block;
}

.nav-title p {
    align-self: center;
    margin-left: 20px;
    color: white;
    font-size: 36px;
    font-weight: 200;
}

.nav-links {
    display: inline;
}

.nav-links a {
    font-size: 24px;
    color: white;
    padding-right: 20px;
}

.nav-links a:hover {
    color: hsl(0, 0%, 50%);
}

/* main sections */

main section,
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
    scroll-margin-top: 84px;
    padding-top: 50px;
}

/* landing section */

#prism-container {
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow: hidden;
    z-index: -1;
}

#prism-graphic {
    height: 200%;
    width: 200%;
    position: absolute;
    top: -50%;
    left: -50%;
    filter: blur(10px);
}

#landing {
    justify-content: space-around;
    height: 100vh;
    padding-top: 0;
}

#landing-welcome {
    color: white;
    text-shadow: 0 0 10em;
}

#paul {
    font-size: 1.4em;
}

#profile-image {
    display: inline-block;
    border: 10px solid black;
    border-radius: 10%;
    margin: 0;
    max-width: 100%;
    height: auto;
}

#landing-gradient {
    height: 15px;
    width: 100vw;
    background-image: linear-gradient(black, white);
}

/* intro section */

.intro-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro-content p {
    display: inline-block;
    max-width: 70%;
}

#desk-graphic {
    display: inline-block;
    width: 25%;
    height: auto;
    padding-left: 5%;
}

/* skills/coursework section */

.inactive-heading {
    color: rgb(200, 200, 200);
}

.inactive-container {
    display: none;
}

.inactive-container div {
    display: none;
}

#skills-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    list-style: none;
}

#skills-container div {
    background-color: rgb(242, 242, 242);
    border-radius: 20px;
    margin: 20px;
}

#skills-container h3 {
    text-align: center;
}

.skill-icons-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skill {
    display: inline-block;
    /* background-color: black; */
    /* border: 7px black solid; */
    border-radius: 25%;
    padding: 20px;
    margin: 20px;
}

.skill img {
    display: block;
    width: 100px;
    height: 100px;
}

#coursework-cointainer {
}

/* projects - main */

#projects h3 {
    font-size: 32px;
    margin: 0;
}

.project {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    /* background-color: rgb(242, 242, 242); */
    /* border-radius: 20px; */
    padding: 10px 50px;
    margin: 35px 0;
    border-left: 5px solid black;
}

.project-content {
    display: inline-block;
    width: 65%;
    padding: 0 50px;
}

.project-content p {
    text-align: justify;
}

.project-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    /* margin-bottom: 5px; */
}

.project-github {
    display: block;
    max-width: 2.5em;
    flex-shrink: 0;
    transition: transform ease 0.2s;
}

.project-github:hover {
    transform: scale(1.1);
}

.project-skills-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.project-skill {
    display: block;
    width: 50px;
    height: 50px;
}

.project-image-container {
    width: 35%;
    align-content: center;
}

.project-image-container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 25px;
}

/* projects - extra */

.scroll-button {
    font-family: poppins, sans-serif;
    font-weight: 900;
    background-color: black;
    color: white;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: none;
    z-index: 2;
}

.scroll-button.right {
    right: 0;
}

.scroll-button.left {
    left: 0;
}

.extra-projects-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

.extra-projects-wrapper {
    width: 95%;
}

.extra-projects-wrapper::before,
.extra-projects-wrapper::after {
    content: '';
    position: absolute;
    width: 50px;
    top: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
}

.extra-projects-wrapper::before {
    left: 0;
    background-image: linear-gradient(
        to right,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0)
    );
}

.extra-projects-wrapper::after {
    right: 0;
    background-image: linear-gradient(
        to left,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0)
    );
}

.extra-projects {
    display: flex;
    transition: transform 1s ease;
}

.extra-project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 300px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid black;
    padding: 10px;
    box-sizing: border-box;
}

.extra-text-wrapper h4 {
    margin: 0;
}

.extra-text-wrapper p {
    font-size: 10pt;
    margin: 5px 0 10px 0;
}

.extra-skills-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.extra-skills-container img {
    height: 50px;
    border: none;
    margin: 10px 0;
}

.extra-image {
    display: block;
    max-width: 100%;
    box-sizing: border-box;
    border: solid black 5px;
    border-radius: 15px;
    margin: 10px 0;
}

/* footer */

footer {
    justify-content: center;
    height: 50px;
}

footer p {
    font-size: 10pt;
}
